
.address-list{
	width: 94%;
	margin: 0 auto;
}

.address-list h2{
	font-size: 24px;
	text-align: left;
}

.address-list ul{
	width: 98%;
	margin: 0 auto;
	text-align: left;
	display: flex;
	
}
.address-list .addr-more span{
	font-size: 16px;
	cursor: pointer;
}
.address-list .addr-more span:hover{
	color: #ED5328;
}


.address-list ul .address-mode{
	width: 20%;
	display: inline-block;
	background-color: #FAFAFA;
	margin: 10px 10px 10px 0;
	padding: 10px;
	border: 2px solid #eee;
}

.address-list ul .address-mode:hover{
	border: 2px solid #ED5328;
}
.address-list ul .check{
	border: 2px solid #ED5328;
}

.address-list ul .check:hover .setDefault{
	display: inline-block;
	cursor: pointer;
}

.noset{
	display: none;
}

.address-list ul .address-mode .addr-inf{
	font-size: 16px;
	text-align: left;
}
.address-list ul .address-mode .addr-inf .addr-name{
	font-size: 20px;
}

.address-list ul .addr-edit{
	text-align: left;
	position: relative;
	height: 30px;
}
.address-list ul .address-mode  .addr-edit i{
	display: inline-block;
	cursor: pointer;
	position: absolute;
	right: 5px;
	bottom: 5px;
	width: 30px;
	height: 30px;
	background-color: #444444;
	color: #FFFFFF;
	font-size: 20px;
	font-style: normal;
	text-align: center;
	line-height: 30px;
	
}

.address-list ul .address-mode  .addr-edit span{
	font-size: 18px;
	color: orange;
	
}


.addr-next{
	font-size: 20px;
	height: 40px;
	width: 200px;
	background-color: antiquewhite;
	line-height: 40px;
	position: absolute;
	right: 0;
	
}
